@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .c-container {
    @apply mx-auto max-w-7xl px-3 md:px-4 lg:px-8;
  }
}

@layer utilities {
  /* Scroll bar */
  .c-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .c-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0a804a;
  }
  .c-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ebebeb;
  }

  /* Input type = number */
  .c-input-number::-webkit-inner-spin-button,
  .c-input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  /* Input type = range */
  .c-input-range::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #0a804a;
    -webkit-appearance: none;
    pointer-events: auto;
  }
  .c-input-range:active::-webkit-slider-thumb {
    outline: 4px solid rgb(10 128 74 / 60%);
  }
  .c-input-range:hover::-webkit-slider-thumb {
    cursor: pointer;
  }
}
